body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    background-color: rgb(181, 238, 181) !important;
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

.card {
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    height: 25vh;
    width: 100%;
}

.icon {
    font-size: 3rem;
}

.header {
    margin-bottom: 30px;
}

.table {
    table-layout: auto;
}

.table th,
.table td {
    vertical-align: middle;
}